# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/prisma/generated/
/.idea/jsLibraryMappings.xml
/prisma/default.d.ts
/prisma/default.js
/prisma/edge.d.ts
/prisma/runtime/edge.js
/prisma/edge.js
/prisma/runtime/edge-esm.js
/prisma/index.d.ts
/prisma/index.js
/prisma/runtime/index-browser.d.ts
/prisma/runtime/index-browser.js
/prisma/index-browser.js
/prisma/runtime/library.d.ts
/prisma/runtime/library.js
/prisma/migrations/20250401092327_1/migration.sql
/prisma/migrations/migration_lock.toml
/prisma/package.json
/prisma/query_engine-windows.dll.node
/prisma/query_engine_bg.js
/prisma/query_engine_bg.wasm
/prisma/runtime/react-native.js
/prisma/wasm.d.ts
/prisma/runtime/wasm.js
/prisma/wasm.js
/prisma/wasm-edge-light-loader.mjs
/prisma/wasm-worker-loader.mjs
/prisma/migrations/20250401124137_1/migration.sql
